
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$blue: #268bd2;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc322f;
$orange: #cb4b16;
$yellow: #b58900;
$magenta: #d33682;
$violet: #6c71c4;
$green: #859900;
$teal: #20c997;
$cyan: #2aa198;
$primary: $blue;
$secondary: $base03;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $base2;
$dark: $base02;
$link-color: rgba($blue, .75);
$link-hover-color: rgba($link-color, .9);
$component-active-color: $base01;
$component-active-bg: $base2;
$font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$table-accent-bg: rgba($base3,.5);
$table-hover-bg: rgba($base3, .5);
$table-border-color: $component-active-bg;
$table-dark-bg: $dark;
$table-dark-border-color: darken($gray-500, 3%);
$body-bg: #fdf6e3;
$table-dark-color: $dark;
$input-bg: $base2;
$input-disabled-bg: $base00;
$input-border-color: rgba($black,.15);
$input-placeholder-color: $base1;
$input-group-addon-color: $gray-600;
$input-group-addon-bg: $gray-800;
$dropdown-bg: $body-bg;
$dropdown-divider-bg: rgba($primary, .5);
$body-color: #657b83;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $base2;
$dropdown-link-hover-bg: rgba($link-color,.6);
$nav-tabs-border-color: $base2;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-color: $component-active-color;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;
$navbar-light-color: rgba($base02,.65);
$navbar-light-active-color: $base02;
$pagination-bg: transparent;
$pagination-border-color: rgba($secondary, .3);
$pagination-hover-bg: rgba($secondary, .5);
$pagination-hover-border-color: rgba($base01, .8);
$pagination-active-color: rgba($secondary,.5);
$pagination-active-bg: rgba($link-color,.5);
$pagination-active-border-color: rgba($secondary, .3);
$pagination-disabled-color: rgba($secondary, .25);
$pagination-disabled-bg: transparent;
$pagination-disabled-border-color: rgba($secondary, .3);
$jumbotron-bg: $gray-800;
$card-border-color: rgba($secondary, .3);
$card-cap-bg: rgba($white, .25);
$card-bg: rgba($body-color, .25);
$popover-bg: $gray-800;
$popover-border-color: $body-bg;
$popover-header-bg: $gray-800;
$modal-content-bg: rgba($secondary, .125);
$modal-content-border-color: rgba($secondary, .1);
$modal-header-border-color: rgba($secondary, .5);
$progress-bg: $gray-800;
$progress-bar-color: $primary;
$list-group-bg: transparent;
$list-group-border-color: rgba($base03, .3);
$list-group-hover-bg: $base2;
$list-group-active-color: rgba($base03,.9);
$list-group-disabled-color: rgba($base0, .5);
$list-group-disabled-bg: rgba($base2, .2);
$list-group-action-color: $body-color;
$list-group-action-hover-color: $component-active-color;
$breadcrumb-bg: $component-active-bg;
$close-color: $body-color;
$close-text-shadow: none;
$pre-color: inherit;
$border-color: #93a1a1;
$navbar-dark-disabled-color: rgba($base2, .4);
$navbar-dark-active-color: $base2;
$navbar-dark-toggler-border-color: rgba($primary, .1);
$navbar-dark-color: rgba($base2, .65);
$navbar-dark-hover-color: rgba($base2, .95);
$yiq-text-light: $base2;
$yiq-text-dark: $base02;
$nav-link-disabled-color: rgba($base1, .4);
$navbar-light-hover-color: rgba($base02, .99);
$navbar-light-disabled-color: rgba($base02, .4);
$navbar-light-toggler-border-color: rgba($base02, .1);
$dropdown-border-color: rgba($primary, .6);
$dropdown-link-disabled-color: rgba($base1, .4);
$list-group-active-border-color: rgba($base03, .4);
$font-family-monospace: Menlo, SFMono-Regular,  Monaco, Consolas, Liberation Mono, Courier New, monospace;
$hr-border-color: rgba($base03, .1);
$mark-bg: $base02;
$table-active-bg: rgba($table-hover-bg, .5);
$table-head-bg: $gray-200;
$modal-backdrop-bg: $secondary;
$modal-content-box-shadow-xs: 0 .25rem .5rem rgba($secondary, .5);
$modal-content-box-shadow-sm-up: 0 .5rem 1rem rgba($secondary, .5);
$modal-backdrop-opacity: .5;
$breadcrumb-divider-color: rgba($secondary, .3);
$breadcrumb-active-color: rgba($secondary, .710);
$input-color: rgba($body-color, .9);
$input-focus-bg: rgba($primary, .3);